<%= form_for(@item) do |f| %>
  <p><%= f.label :title %></p>
  <p><%= f.text_field :title %></p>

  <p><%= f.label :description %></p>
  <p><%= f.text_area :description %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
