<div class="project-item" style="margin-top:10px">
	<div class="project-cover-info">
		<div class="project-name"><a href="#project/<%= creator_id %>/<%= id %>"><%= title %></a></div>
		<div class="project-creator">by <a href="#profile/<%= creator_id %>"><%= creator_name%></a></div>
	</div>
	<div style="height:154px; overflow:hidden;"><img src="<%= thumbnail %>" style="width:100%"/></div>
	<div class="category-info">
		Open-source, Software
	</div>

	<div class="social-info">
		<span class="cover-favorite">
			<span class="kudos">
				<i class="icon-star"></i>
				<span class="stat-value">231</span>
			</span>
		</span>
	</div>
</div>