<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Describe.Me" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Describe dot me" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <script type="text/javascript">
      $('.dropdown-toggle').dropdown();
    </script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Describe.Me</a>
          <ul class="nav pull-right">
            
            <% if user_signed_in? %>
              <li><a id="profile-nav" href="/#profile">Profile</a></li>
              <li><a id="dashboard-nav" href="/#">Dashboard</a></li>
              
              <li class="dropdown">
                <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                  <i class="icon-comment icon-white"></i>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  
                </ul>
              </li>
              <li><a href="#settings">Settings</a></li>
              <li>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
              </li>
            <% else %>
              <li>
                <%= link_to('Login', new_user_session_path)  %>  
              </li>
            <% end %>
            
          </ul>
        </div>
      </div>
    </div>
    <div id="container" class="container-fluid" style="margin-top:60px;">
          <%= yield %>
    </div> <!--! end of #container -->
  </body>
</html>
