<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Describe.Me" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Describe dot me" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Describe.Me</a>
          <ul class="nav pull-right">
            
            <% if user_signed_in? %>
              <li><a href="/#profile">Profile</a></li>
              <li><a href="/#projects">Dashboard</a></li>
              <li><a href="#">Settings</a></li>
              <li>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
              </li>
            <% else %>
              <li>
                <%= link_to('Login', new_user_session_path)  %>  
              </li>
            <% end %>
            
          </ul>
        </div>
      </div>
    </div>
    <div id="container" class="container-fluid" style="margin-top:60px;">
          <%= yield %>
    </div> <!--! end of #container -->
  </body>
</html>
