<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Describe dot me" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Describe dot me" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Tabzine</a>
        </div>
      </div>
    </div>
    <div id="container" class="container" style="margin-top:60px;">
        <%= yield %>
    </div> <!--! end of #container -->
  </body>
</html>
